body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(238, 184, 184);
    color:black;
}
header{
    background-color:rgb(231, 77, 164);
    color:black;
    padding: 20px;
    text-align: center;
}
nav {
    background-color:rgb(255, 18, 156);
    padding: 10px;
}  
nav ul{
    list-style-type: none;
    margin: 0;
    text-align:center;
}
nav ul li {
    display:inline;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color:bisque;
    font-weight: bold;
}
nav ul li a:hover{
    color:aqua;
}
main{
    padding:20px;
}
h1, h2{
    color: rgb(95, 238, 238);
}
span{
    color:rgb(133, 133, 224);
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td{
    border: 1px solid rgb(0, 0, 0);
}
th, td{
    padding: 10px;
    text-align: left;
}
th{
    background-color:palevioletred;
}
img{
    width: 400px;
    height:auto;
    margin: 20px 0;
    display:block;
}
footer{
    background-color: rgb(255, 79, 240);
    color: rgb(55, 5, 102);
    text-align: center;o
    padding: 10px;
    position: fixed;
    bottom:0;
    width: 100%;
}
footer a{
    color: paleturquoise;
    text-decoration:none;
}
footer a:hover{
    text-decoration: underline;
}
