body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(253, 204, 195);
    color:black;
}
header{
    background-color:rgb(252, 216, 236);
    color:black;
    padding: 20px;
    text-align: left;
}
nav {
    background-color:rgb(248, 188, 223);
    padding: 10px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    text-align:left;
}
nav ul li {
    display:inline;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(105, 29, 126);
    font-weight: bold;
}
nav ul li a:hover{
    color:rgb(51, 8, 68);
}
main{
    padding:20px;
}
h1, h2, h4{
    color: rgb(59, 10, 78);
}
span{
    color:rgb(249, 201, 253);
}
th, td{
    padding: 10px;
    text-align: left;
}
th{
    background-color:palevioletred;
}
img{
    width: 400px;
    height:auto;
    margin: 20px 0;
    display:block;
}
footer{
    background-color: rgb(250, 160, 242);
    color: rgb(55, 5, 102);
    text-align: center;o
    padding: 10px;
    position: fixed;
    bottom:0;
    width: 100%;
}
footer a{
    color: rgb(103, 57, 124);
    text-decoration: underline;
}
footer a:hover{
    text-decoration: underline;
}
